@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');
@import "tailwindcss";

@theme {
  --color-case: #1a1a1b;
  --color-bezel: #121213;
  --color-lcd-bg: #9ca894;
  --color-lcd-ink: #1e211b;
  --color-accent-blue: #2b5797;
  --color-accent-red: #cc0000;
  --color-accent-gold: #c5a059;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}
